{% extends "@LuccaThemeStreamDashboardUiKit/Page/angleLogin.html.twig" %}
{% trans_default_domain 'LuccaUserBundle' %}


{# Title #}
{% block lucca_title %}
    <title> {{ 'setting.general.app.name'| setting }} | {{ 'meta.login'|trans }}</title>
{% endblock lucca_title %}


{% block lucca_login %}

    <div class="u-login-form">
        <form class="mb-3" id="loginForm" role="form" method="post">
            <div class="mb-3">
                <div class="card-card-header text-center bg-dark">
                    <a href="{{ path('lucca_content_dashboard') }}">
                        <img src="{{ asset('/assets/logo/lucca-logo-transparent.png') }}" alt="Image"
                             class="img-responsive block-center img-rounded mh50"
                             style="max-width: 50px; max-height: 50px;">
                    </a>
                </div>
                <h1 class="h2">{{ 'setting.general.app.name'| setting }}</h1>
                <p class="small">{{ 'label.connection'|trans }}</p>
                {% if error %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>

            <div class="form-group mb-4">
                <div class="input-group with-focus">
                    <label for="username"></label>
                    <input id="username" type="text" name="username" required="required"
                           placeholder="{{ 'label.username'|trans }}" class="form-control border-right-0">
                    <div class="input-group-append">
                   <span class="input-group-text text-muted bg-transparent border-left-0">
                      <em class="fa fa-envelope"></em>
                   </span>
                    </div>
                </div>
            </div>

            <div class="form-group mb-4">
                <div class="input-group with-focus">
                    <label for="password"></label>
                    <input id="password" type="password" name="password" required="required"
                           placeholder="{{ 'label.password'|trans }}" class="form-control border-right-0">
                    <div class="input-group-append">
                       <span class="input-group-text text-muted bg-transparent border-left-0">
                          <em class="fa fa-lock"></em>
                       </span>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary btn-block" type="submit">{{ 'label.login'|trans }}</button>
        </form>

        <p class="small">
            &copy; 2017 - {{ 'now'|date('Y') }} {{ 'label.legalMention66'|trans }}
        </p>
    </div>
{% endblock lucca_login %}
