{% extends "@LuccaThemeAngle/Page/angleLogin.html.twig" %}
{% trans_default_domain 'LuccaUserBundle' %}


{# Title #}
{% block lucca_title %}
{#    <title> {{ 'setting.general.app.name'| setting }} | {{ 'meta.login'|trans }}</title>#}
{% endblock lucca_title %}


{% block lucca_login %}

    <div class="card card-flat">
        <div class="card-card-header text-center bg-dark">
{#            <a href="{{ path('lucca_content_dashboard') }}">#}
                <img src="{{ asset('/assets/logo/lucca-logo-transparent.png') }}" alt="Image"
                     class="img-responsive block-center img-rounded mh50">
{#            </a>#}
        </div>

        <div class="card-body">

{#            <h3 class="text-center py-2">{{ 'setting.general.app.name'| setting }}</h3>#}
            <p class="text-center pt-3">{{ 'label.connection'|trans }}</p>

            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form class="mb-3" id="loginForm" role="form" method="post">

{#                {% if csrf_token %}#}
{#                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>#}
{#                {% endif %}#}

                <div class="form-group">
                    <div class="input-group with-focus">
                        <input id="username" type="text" name="username" required="required"
                               placeholder="{{ 'label.username'|trans }}" class="form-control border-right-0">
                        <div class="input-group-append">
                           <span class="input-group-text text-muted bg-transparent border-left-0">
                              <em class="fa fa-envelope"></em>
                           </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group with-focus">
                        <input id="password" type="password" name="password" required="required"
                               placeholder="{{ 'label.password'|trans }}" class="form-control border-right-0">
                        <div class="input-group-append">
                           <span class="input-group-text text-muted bg-transparent border-left-0">
                              <em class="fa fa-lock"></em>
                           </span>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="checkbox c-checkbox float-left mt-0">
                        <label for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                            <span class="fa fa-check"></span>{{ 'label.rememberMe'|trans }}</label>
                    </div>
                </div>

                <button class="btn btn-block btn-primary mt-3" type="submit">{{ 'label.login'|trans }}</button>
            </form>

        </div>
    </div>

    <p class="p-3 text-center">
        <small class="mr-2">
            &copy; 2017 - {{ 'now'|date('Y') }} {{ 'label.legalMention66'|trans }}
        </small>
    </p>
{% endblock lucca_login %}



