{#-- Translation domain --#}
{% trans_default_domain 'MinuteBundle' %}

{#-- Macros --#}
{% import "@LuccaMinute/Human/human-macro.html.twig" as humanMacro %}


{#-- Embed view --#}
<div class="row mb-2">

    <div class="col-12">
        <a name="control" data-value="control-{{ control.id }}" class="btn btn-secondary btn-sm btn-block btn-collapse">
            <h4>
                {{ loop.index }} ) {{ 'entity.control'|trans }}
                {% if control.dateControl %} - {{ control.dateControl|date('d/m/Y') }}{% endif %}

                {% if control.accepted is constant('ACCEPTED_NOK', control) %}
                    <span class="badge badge-danger float-right mr15">
                    {{ 'text.control.refused'|trans }}</span>
                {% elseif control.accepted is constant('ACCEPTED_OK', control) %}
                    <span class="badge badge-success float-right mr15">
                    {{ 'text.control.acceptd'|trans }}</span>
                {% else %}
                    {% if control.reason in [
                        constant('REASON_ERROR_ADRESS', control),
                        constant('REASON_UNKNOW_ADRESS', control),
                    ] %}
                        <span class="badge badge-warning float-right mr15">
                        {{ 'text.control.not_completed'|trans }}</span>
                    {% elseif control.reason in [
                        constant('REASON_REFUSED_LETTER', control),
                        constant('REASON_UNCLAIMED_LETTER', control),
                    ] %}
                        <span class="badge badge-warning float-right mr15">
                        {{ 'text.control.refused'|trans }}</span>

                    {% elseif control.accepted is constant('ACCEPTED_NONE', control) %}
                        <span class="badge badge-warning float-right mr15">
                        {{ 'text.control.not_completed'|trans }}</span>
                    {% endif %}
                {% endif %}

                <span class="badge badge-info float-right mr15">
                    {{ control.stateControl|trans({}, 'ControlBundle') }}
                </span>
            </h4>
        </a>
    </div>

    <div class="col-12">
        <div id="control-{{ control.id }}" style="display: none;">
            <table class="table table-striped table-hover">
                <tbody>
                <tr>
                    <th>{{ 'label.stateControl'|trans }}</th>
                    <td>{{ control.stateControl|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.humanConvocated'|trans }}</th>
                    <td>
                        {{ humanMacro.humansByControlViewDiv(control.humansByMinute|merge(control.humansByControl)) }}
                    </td>
                </tr>
                {% if control.datePostal %}
                    <tr>
                        <th>{{ 'label.datePostal'|trans }}</th>
                        <td>
                            {{ control.datePostal|date('d/m/Y') }}
                            {% if control.courierDelivery %}<br>{{ control.courierDelivery }}{% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% if control.dateSended %}
                    <tr>
                        <th>{{ 'label.dateSended'|trans }}</th>
                        <td>{{ control.dateSended|date('d/m/Y') }}</td>
                    </tr>
                {% endif %}
                {% if control.dateNotified %}
                    <tr>
                        <th>{{ 'label.dateNotified'|trans }}</th>
                        <td>{{ control.dateNotified|date('d/m/Y') }}</td>
                    </tr>
                {% endif %}
                {% if control.dateReturned %}
                    <tr>
                        <th>{{ 'label.dateReturned'|trans }}</th>
                        <td>{{ control.dateReturned|date('d/m/Y') }} ({{ control.reason|trans }})</td>
                    </tr>
                {% endif %}
                {% if control.dateContact %}
                    <tr>
                        <th>{{ 'label.dateContact'|trans }}</th>
                        <td>{{ control.dateContact|date('d/m/Y') }}</td>
                    </tr>
                {% endif %}
                {% if control.dateControl and control.hourControl %}
                    <tr>
                        <th>{{ 'label.dateControl'|trans }}</th>
                        <td>{{ control.dateControl|date('d/m/Y') }} {{ 'text.control.at'|trans }} {{ control.hourControl|date('H:i') }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{#-- End - Embed view --#}
