{% extends "LuccaThemeAngleBundle:Layout:angleLayout.html.twig" %}
{% trans_default_domain 'LuccaCoreBundle' %}

{% block menuActive_statistics %} class="active" {% endblock %}

{% block lucca_title %}
    <title>{{ 'setting.general.app.name'| setting }} | {{ 'title.statistics'|trans }}</title>
{% endblock lucca_title %}

{% block lucca_header %}
    {{ 'title.statistics'|trans }}
{% endblock lucca_header %}


{% block lucca_page %}

    {#-- Main Area --#}
    <div class="row margin-bottom-30">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <h2>{{ 'title.statistics'|trans({}, 'LuccaMinuteBundle') }}</h2>
                </div>

                {#-- Param - Overall --#}
                <div class="col-4">
                    <div class="card card-default">
                        <div class="card-wrapper text-center">
                            <div class="card-body">
                                <a href="{{ path('lucca_statistics_minutes_overall') }}"
                                   class="link-unstyled text-primary">
                                    <em class="fas fa-5x fa-layer-group mb-lg"></em>
                                    <br>
                                    <span class="h4">{{ 'label.overall'|trans }}</span>
                                    <br>
                                    <small class="text-muted">{{ 'label.seeDetails'|trans }} →</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {#-- End Param - Overall --#}

                {#-- Param - Minutes --#}
                <div class="col-4">
                    <div class="card card-default">
                        <div class="card-wrapper text-center">
                            <div class="card-body">
                                <a href="{{ path('lucca_statistics_minutes_table') }}"
                                   class="link-unstyled text-primary">
                                    <em class="fas fa-5x fa-layer-group mb-lg"></em>
                                    <br>
                                    <span class="h4">{{ 'label.minutes'|trans }}</span>
                                    <br>
                                    <small class="text-muted">{{ 'label.seeDetails'|trans }} →</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {#-- End Param - Minutes --#}
            </div>

            <div class="row">
                <div class="col-12">
                    <h2>{{ 'title.statistics'|trans({}, 'LuccaAdherentBundle') }}</h2>
                </div>

                {#-- Param - Adherent --#}
                <div class="col-4">
                    <div class="card card-default">
                        <div class="card-wrapper text-center">
                            <div class="card-body">
                                <a href="{{ path('lucca_statistics_adherents') }}"
                                   class="link-unstyled text-primary">
                                    <em class="fas fa-5x far fa-user mb-lg"></em>
                                    <br>
                                    <span class="h4">{{ 'label.adherents'|trans({}, 'LuccaAdherentBundle') }}</span>
                                    <br>
                                    <small class="text-muted">{{ 'label.seeDetails'|trans }} →</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {#-- End Param - Adherent --#}
            </div>
        </div>
    </div>
    {#-- End - Main Area --#}

{% endblock lucca_page %}

