{#-- Extends view --#}
{% extends "@LuccaThemeStreamDashboardUiKit/SubLayout/new.html.twig" %}

{#-- Translation domain --#}
{% trans_default_domain 'LuccaParameterBundle' %}

{#-- Parameters --#}
{% set entity_trans_key='entity.town' %}
{% block menuActive_parameter %}class="active"{% endblock menuActive_parameter %}


{% block lucca_panels %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {#-- Panel - main --#}
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
        <div class="card card-default">
            <div class="card-header">
                {{ 'title.new'|trans({}, 'LuccaThemeStreamDashboardUiKit') }} - <b>{{ entity_trans_key|trans }}</b>
            </div>

            <div class="card-wrapper">
                <div class="card-body">
                    <div class="col-12">
                        {{ form_row(form.code) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.enabled) }}
                        {{ form_row(form.zipcode) }}
                        {{ form_row(form.office) }}
                        {{ form_row(form.intercommunal) }}

                        <a class="btn btn-secondary btn-lg" href="{{ path('lucca_town_index') }}"
                           title="{{ 'link.town.backList'|trans }}"><i class="fa fa-reply"></i></a>

                        <button type="submit" class="btn btn-success btn-lg"
                                title="{{ 'link.town.new'|trans }}"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#-- End Panel - main --#}

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock lucca_panels %}


{% block lucca_css %}
    {{ parent() }}
{% endblock lucca_css %}


{% block lucca_js %}
    {{ parent() }}
{% endblock lucca_js %}
