{% extends '@LuccaThemeStreamDashboardUiKit/SubLayout/page.html.twig' %}
{% trans_default_domain 'AdherentBundle' %}

{#Macro to display tooltip help messages#}
{% import "@LuccaThemeStreamDashboardUiKit/Macro/buttonHelp.html.twig" as macroButtonHelp %}
{% block menuActive_statistics %}active{% endblock %}

{% block lucca_title %}
    <title>{{ 'setting.general.app.name'| setting({}, 'CoreBundle') }}
        | {{ 'statistics.adherent.title'|trans }}</title>
{% endblock lucca_title %}

{% block lucca_header %}
    {{ 'statistics.adherent.title'|trans }}
{% endblock lucca_header %}

{% block lucca_block %}

    {#-- Panel - description --#}
    <div class="col-12">
        <div class="card card-default">
            <div class="card-header"><strong>{{ 'statistics.adherent.description'|trans }}</strong></div>
        </div>
    </div> {#-- End Panel - description--#}

    {#-- Panel - statistics params --#}
    <div class="col-12">

        <div class="card card-default">
            <div class="card-header hover-pointer" data-tool="card-collapse">
                <strong>{{ 'statistics.filters'|trans }}</strong>
                <a class="float-right" href="#collapseExample" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <em class="fa fa-plus"></em>
                </a>
            </div>

            <div id="collapseExample" class="card-wrapper collapse">
                <div class="card-body">
                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.adherent) }}
                            {{ form_row(form.town) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.intercommunal) }}
                            {{ form_row(form.service) }}
                        </div>
                    </div>

                    <div class="col-6">
                        <a class="btn btn-secondary btn-lg" href="{{ path('lucca_core_statistics') }}"
                           title="{{ 'link.back'|trans }}"><i class="fa fa-reply"></i></a>

                        <button type="submit" class="btn btn-info btn-lg pull-right"
                                title="{{ 'link.new'|trans }}">
                            <i class="fa fa-check"></i></button>
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div> {#-- End Panel - statistics params --#}


    <div class="col-12 overall">
        <div class="row">
            <div class="col-6 mb-3">

                {% embed "@LuccaCore/_panel-filters.html.twig" with { 'filters': filters, 'transDomain': 'AdherentBundle' } %}
                {% endembed %}

                {% set counterSpeed = 10000 %}

                <div class="row jumbotron jumbotron-stats text-center">
                    <div class="col-4 mb-3">
                        <i class="fas fa-5x fa-user mb-lg"></i>
                        <h2 class="timer counter alt-font appear"
                            data-speed="{{ counterSpeed }}">{{ finalArray['countAdherent'] }}</h2>
                        <div>{{ 'label.adherents' | trans }}</div>
                    </div>
                    <div class="col-4 mb-3 border-left-stats">
                        <i class="fa fa-5x fa-road mb-lg"></i>
                        <h2 class="timer counter alt-font appear"
                            data-speed="{{ counterSpeed }}">{{ finalArray['countTownAdherent'] }}</h2>
                        <div>{{ 'label.towns' | trans }}</div>
                    </div>
                    <div class="col-4 mb-3 border-left-stats">
                        <i class="fa fa-5x fa-layer-group mb-lg"></i>
                        <h2 class="timer counter alt-font appear"
                            data-speed="{{ counterSpeed }}">{{ finalArray['countMinutes'] }}</h2>
                        <div>{{ 'label.minutes' | trans({}, 'MinuteBundle') }}</div>
                    </div>
                </div>

            </div>
            <div class="col-6 mb-3">
                <div class="card card-default">
                    <div class="card-header">
                        <h2>
                            {{ 'statistics.adherent.title' | trans }}
                            {{ macroButtonHelp.buttonInfoHelpLight(('statistics.adherentTown.description' | trans) | raw) }}
                        </h2>
                    </div>
                    <div class="card-wrapper">
                        <div class="card-body">
                            <div class="tab-pane active" id="barChart" role="tabpanel">
                                <canvas id="adherentBarChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card card-default">
                    <div class="card-header">
                        <h2>
                            {{ 'statistics.townMinutes.title' | trans }}
                            {{ macroButtonHelp.buttonInfoHelpLight(('statistics.adherentTown.description' | trans) | raw) }}
                        </h2>
                    </div>
                    <div class="card-wrapper">
                        <div class="card-body">
                            <canvas id="townMinutesChart" style="max-height: 40vh"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#End Pannel - Historic in histogram#}

{% endblock lucca_block %}


{% block lucca_css %}
    {{ parent() }}

    {#-- Plugin - DataTables --#}
    {% include "@LuccaThemeStreamDashboardUiKit/Plugins/datatables.css.html.twig" %}

{% endblock lucca_css %}


{% block lucca_js %}
    {{ parent() }}

    {#-- Plugin - DataTables --#}
    {% include "@LuccaThemeStreamDashboardUiKit/Plugins/datatables.js.html.twig" with { 'params' :
        { 'id_datatable': '.dataTables', 'pageLength': 10 }
    } %}

    {#-- Plugin - chartJs --#}
    <script src="{{ asset('plugins/chartJs/chart.min.js') }}"></script>
    <script src="{{ asset('plugins/chartJs/chartjs-plugin-datalabels.min.js') }}"></script>

    <script>
        {% include '@LuccaAdherent/Statistics/Js/adherent-barChart.js.twig' with {'finalArray': finalArray['byTown'] } %}
        {% include '@LuccaMinute/Statistics/Js/minuteTown-barChart.js.twig' with {'finalArray': finalArray['byTown'] } %}
    </script>

    {#Javascript used to animate counters#}
    <script>
        $(document).ready(function () {

            $('.counter').each(function () {
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 2000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    }
                });
            });
        });
    </script>

{% endblock lucca_js %}
