{% extends '@LuccaThemeStreamDashboardUiKit/SubLayout/edit.html.twig' %}
{% trans_default_domain 'LuccaChecklistBundle' %}

{% set entity_trans='entity.checklist'|trans %}


{% block menuActive_parameter %}active{% endblock menuActive_parameter %}


{% block lucca_panels %}

    {{ form_start(edit_form) }}

    {% form_theme edit_form
        '@LuccaThemeStreamDashboardUiKit/Form/jquery.collection.html.twig'
        '@LuccaChecklist/Element/elementTheme.html.twig' %}

    {{ form_errors(edit_form) }}

    <div class="row">
        {#-- Panel - main --#}
        <div class="col-5">

            <div class="card card-default">
                <div class="card-header">
                    {{ 'title.edit'|trans({}, 'LuccaThemeStreamDashboardUiKit') }} - <b>{{ checklist.name }}</b>
                </div>

                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="col-12">
                            {{ form_row(edit_form.name) }}
                            {{ form_row(edit_form.enabled) }}
                            {{ form_row(edit_form.status) }}
                            {{ form_row(edit_form.description) }}

                            <a href="{{ path('lucca_checklist_show', { 'id': checklist.id }) }}"
                               class="btn btn-secondary btn-lg" title="{{ 'link.show'|trans }}">
                                <i class="fa fa-eye"></i></a>

                            <button type="submit" class="btn btn-warning btn-lg" title="{{ 'link.edit'|trans }}">
                                <i class="fa fa-check"></i></button>

                            <a class="btn btn-danger btn-lg pull-right"
                               data-toggle="modal" data-target=".delWin" title="{{ 'link.delete'|trans }}">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {#-- End Panel - main --#}

        {#-- Panel - elements --#}
        <div class="col-7">
            <div class="card card-default">
                <div class="card-header">
                    {{ 'title.manage'|trans({}, 'LuccaThemeStreamDashboardUiKit') }} - <b>{{ 'label.elements'|trans }}</b>
                </div>

                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="col-12">
                            {{ form_widget(edit_form.elements) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#-- End Panel - elements --#}
    </div>

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

{% endblock lucca_panels %}


{% block lucca_css %}
    {{ parent() }}

    <link href="{{ asset('plugins/summernote/summernote-bs4.css') }}" rel="stylesheet">

{% endblock lucca_css %}


{% block lucca_js %}
    {% include '@LuccaThemeStreamDashboardUiKit/Modal/delete.html.twig' with {'id': checklist.name, 'name': checklist.name, 'delForm': delete_form} %}
    {{ parent() }}

    <script src="{{ asset('plugins/summernote/summernote-bs4.js') }}"></script>
    <script src="{{ asset('plugins/summernote/lang/summernote-fr-FR.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.collection.js') }}"></script>

    <script>
        $('.summernote').summernote({
            height: 250,
            lang: 'fr-FR',
            tabsize: 2
        });

        {# Collection form #}
        $('.element-collection').collection({
            allow_duplicate: true, allow_up: false, allow_down: false,
            add_at_the_end: true,
            add: '<a href="#" class="btn btn-primary" title="Add element"><span class="fa fa-plus"></span></a>',

            // here is the magic!
            elements_selector: 'tr.element',
            elements_parent_selector: '%id% tbody'
        });
    </script>
{% endblock lucca_js %}
