{% extends '@LuccaThemeStreamDashboardUiKit/SubLayout/edit.html.twig' %}
{% trans_default_domain 'LuccaFolderBundle' %}

{% set param_entity='entity.folder'|transchoice(1) %}
{% set param_entities='entity.folder'|transchoice(2) %}

{% block menuActive_minute %}class="active"{% endblock %}


{% block lucca_panels %}

    {{ form_start(edit_form) }}

    {% form_theme edit_form  '@LuccaThemeStreamDashboardUiKit/Form/jquery.collection.html.twig' %}

    {# Form theme apply for child only #}
    {% form_theme edit_form.humansByFolder '@LuccaFolder/Human/human-theme.html.twig' %}
    {% form_theme edit_form.elements '@LuccaFolder/Element/element-theme.html.twig' %}

    {{ form_errors(edit_form) }}

    {#-- Panel - main --#}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="card card-default">
            <div class="card-header"><strong>
                    {% if folder.type is constant('TYPE_FOLDER', folder) %}
                        {{ 'title.frame3'|trans }}
                    {% elseif folder.type is constant('TYPE_REFRESH', folder) %}
                        {{ 'title.frame6'|trans }}
                    {% endif %}
                </strong></div>

            <div class="card-wrapper">
                <div class="card-body">

                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="lucca_num">{{ 'label.num'|trans }}</label>
                            <div class="col-sm-10">
                                <input type="text" name="lucca_num" class="form-control"
                                       value="{{ folder.num }}" disabled="disabled">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label"
                                   for="lucca_control">{{ 'label.control'|trans }}</label>
                            <div class="col-sm-10">
                                <input type="text" name="lucca_control" class="form-control"
                                       value="{{ folder.control.formLabel }}" disabled="disabled">
                            </div>
                        </div>

                        {{ form_row(edit_form.nature) }}
                        <div class="js-obstacle">
                            {{ form_row(edit_form.reasonObstacle) }}
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 control-label" for="status">
                                {% if folder.nature is constant('NATURE_OBSTACLE', folder) %}
                                    {{ 'label.humanRefusedControl'|trans }}
                                {% else %}
                                    {{ 'label.humanPresent'|trans }}
                                {% endif %}
                            </label>

                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="checkbox" name="status" id="owner" value="owner" {% if folder.humansByMinute | length > 0%}checked{%endif%}>
                                    {{ 'choice.status.owner'|trans }} / {{ 'choice.status.occupant'|trans }}
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" name="status" id="others" value="others" {% if folder.humansByFolder | length > 0%}checked{%endif%}>
                                    {{ 'choice.status.other'|trans }}
                                </label>
                            </div>
                        </div>

                        <div class="field-humans" id="field-humansByMinute" {% if folder.humansByMinute | length == 0%}style="display: none;"{%endif%}>
                            {{ form_row(edit_form.humansByMinute) }}
                        </div>

                        <div class="field-humans" id="field-humansByFolder" {% if folder.humansByFolder | length == 0%}style="display: none;"{%endif%}>
                            {{ form_row(edit_form.humansByFolder) }}
                        </div>

                        <div class=" row">
                            <div class="offset-2 col-10">
                                <h4>{{ 'label.checklist'|trans }}</h4>
                                <p class="text-help">{{ 'help.folder.reported_docs'|trans }}</p>
                                <p class="text-help">{{ 'help.image.infos'|trans }}
                                    <a href="{{ 'setting.general.converterLink.name'| setting }}"
                                       target="_blank">{{ 'setting.general.converterLink.name'| setting }}</a>
                                </p>
                            </div>

                            <div class="col-12">
                                {{ form_widget(edit_form.elements) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <a class="btn btn-secondary btn-lg" href="{{ path('lucca_minute_show', { 'id': minute.id }) }}"
                           title="{{ 'link.backMinute'|trans }}"><i class="fa fa-reply"></i></a>

                        <button type="submit" class="btn btn-success btn-lg" title="{{ 'link.save_and_stop'|trans }}">
                            <i class="fa fa-check"></i> {{ 'link.save_and_stop'|trans }}</button>

                        {% if folder.type is constant('TYPE_FOLDER', folder) %}
                            <button type="submit" class="btn btn-info btn-lg" name="saveAndContinue"
                                    title="{{ 'link.save_and_continue'|trans }}">
                                <i class="fa fa-angle-double-right"></i> {{ 'link.save_and_continue'|trans }}
                            </button>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

    </div>
    {#-- End Panel - main --#}

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

{% endblock lucca_panels %}


{% block lucca_css %}
    {{ parent() }}
{% endblock lucca_css %}


{% block lucca_js %}
    {{ parent() }}

    <script src="{{ asset('plugins/symfony-collection/jquery.collection.js') }}"></script>

    <script>
        {# Collection form #}
        $('.human-collection').collection({
            allow_duplicate: false, allow_up: false, allow_down: false,
            add_at_the_end: true,
            add: '<a href="#" class="btn btn-secondary" title="{{ 'link.new'|trans }}"><span class="fa fa-plus"></span></a>',
        });
        $('.element-collection').collection({
            allow_duplicate: false, allow_up: true, allow_down: true,
            add_at_the_end: true,
            position_field_selector: '.collection-position',
            add: '<a href="#" class="btn btn-primary" title="{{ 'link.new'|trans }}"><span class="fa fa-plus mr-2"></span>{{ 'link.addFile'|trans }}</a>',
            after_add: function (collection, element) {
                element.find(".js-name").prop("readonly", null);
                element.find(".js-state").prop("checked", true);
            },
        });
        {# End - Collection form #}

        {# Custom JS #}
        {#-- Init JS --#}
        $(document).ready(function () {
            {% if folder.humansByMinute and folder.humansByMinute|length > 1 %}
            $('input[id="owner"]').prop("checked", true);
            $("#field-humansByMinute").show('slow');
            {% endif %}

            {% if folder.humansByFolder and folder.humansByFolder|length > 1 %}
            $('input[id="others"]').prop("checked", true);
            $("#field-humansByFolder").show('slow');
            {% endif %}
        });
        {#-- End - Init JS --#}

        {#-- Radion buttons for status of human summoned --#}
        $('input[name="status"]').click(function () {
            if ($(this).val() === 'owner')
                $("#field-humansByMinute").toggle('slow');

            if ($(this).val() === 'others')
                $("#field-humansByFolder").toggle('slow');
        });
        {#-- End - Radion buttons for status of human summoned --#}

        $(document).ready(function () {
            $('.js-nature .form-check input').each(function () {
                if ($(this).val() === "choice.nature.obstacle" && $(this).prop("checked")) {
                    $('.js-obstacle').show(0);
                }
            });
        });

        $('.js-nature .form-check input').on("change", function () {
            if ($(this).val() === "choice.nature.obstacle") {
                $('.js-obstacle').show(400);
            } else {
                $('.js-obstacle').hide(400);
            }
        });
    </script>
{% endblock lucca_js %}
