{% extends "LuccaThemeStreamDashboardUiKit:Layout:layout.html.twig" %}
{% trans_default_domain 'LuccaThemeStreamDashboardUiKit' %}

{% set param_topbar='gray-bg' %}

{% block lucca_title %}
    <title>{{ 'setting.general.app.name'| setting }} | {{ entity_trans_key|trans }} - {{ 'title.show'|trans }}</title>
{% endblock lucca_title %}

{% block lucca_header %}
    {{ entity_trans_key|trans }}
{% endblock lucca_header %}


{% block lucca_page %}

    {% include 'LuccaThemeStreamDashboardUiKit:Flash:flashes.html.twig' %}

    {% block lucca_panels %}
    {% endblock lucca_panels %}

{% endblock lucca_page %}


{% block lucca_css %}
    {{ parent() }}
{% endblock lucca_css %}


{% block lucca_js %}
    {{ parent() }}
{% endblock lucca_js %}
