{% extends "LuccaThemeAngleBundle:Layout:angleLayout.html.twig" %}
{% trans_default_domain 'LuccaCoreBundle' %}

{% block menuActive_dashboard %} class="active" {% endblock %}

{% block lucca_title %}
    <title>{{ 'setting.general.app.name'| setting }} | {{ 'title.dashboard'|trans }}</title>
{% endblock lucca_title %}

{% block lucca_header %}
    {{ 'title.dashboard'|trans }}
{% endblock lucca_header %}


{% block lucca_page %}

    {% include 'LuccaThemeAngleBundle:Flash:flashes.html.twig' %}

    <div class="row">
        {#-- Map --#}
        <div class="col-lg-8 col-sm-8">
            {% include '@LuccaCore/Dashboard/panel-map.html.twig' %}
        </div>
        {#-- End - Map --#}

        <div class="col-lg-4 col-sm-6">
            {#-- Results search --#}
            <div class="card card-default" id="result-panel">
                <div class="card-header text-white">
                    {{ 'title.results'|trans }}
                </div>
                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="js-searchResults">

                        </div>
                    </div>
                </div>
            </div>
            {#-- End - Results search --#}

            {#-- Informations --#}
            {% set infos = 'setting.general.departement.name'| setting | contact_infos %}

            {% for info in infos %}
                <div class="card card-default">
                    <div class="card-header">{{ 'title.contact'|trans }}</div>

                    <div class="card-wrapper">
                        <div class="card-body">

                            <div class="row  mt-2">
                                <div class="col-sm-2">
                                    <i class="fa fa-envelope fa-2x text-primary"></i>
                                </div>
                                <div class="col-sm-10">
                                    <a href="mailto:{{ info['mailto'] }}">
                                        {{ info['mailto'] }}
                                    </a>
                                </div>
                            </div>

                            <div class="row  mt-2">
                                <div class="col-sm-2">
                                    <i class="fa fa-phone fa-2x text-info"></i>
                                </div>
                                <div class="col-sm-10">
                                    {{ info['phone'] }}
                                </div>
                            </div>

                            <div class="row  mt-2">
                                <div class="col-sm-2">
                                    <i class="fas fa-map-marker-alt fa-2x text-warning"></i>
                                </div>
                                <div class="col-sm-10">
                                    <address>
                                        {{ info['addr'] | raw }}
                                    </address>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {#-- End - Informations --#}
            {% endfor %}

        </div>

    </div>
    {#-- End - Main Area --#}

{% endblock lucca_page %}

{% block lucca_css %}
    {{ parent() }}

    <link href="{{ asset('bundles/luccacore/css/lucca_map.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/luccathemeangle/plugins/pace/paceMap.css') }}" rel="stylesheet">
    {#-- Plugin sweet alert 2 --#}
    <link href="{{ asset('plugins/sweetalert2/sweetalert2.css') }}" rel="stylesheet">
{% endblock lucca_css %}

{% block lucca_js %}
    {{ parent() }}

    <script src="{{ asset('bundles/luccacore/js/lucca_config_map.js') }}"></script>
    <script src="{{ asset('bundles/luccacore/js/lucca_map.js') }}"></script>
{#    <script src="{{ asset('bundles/luccathemeangle/plugins/pace/pace.min.js') }}"></script>#}
    {#-- Plugin sweet alert 2 --#}
    <script src="{{ asset('plugins/sweetalert2/sweetalert2.js') }}"></script>
    {#-- Plugin - Google maps --#}
{#    {% if 'setting.map.mapActive.name'|setting == true %}#}
{#        <script src="https://maps.googleapis.com/maps/api/js?key={{ 'setting.map.mapKey.name'|setting }}&callback=initMap"#}
{#                async defer></script>#}

{#        <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>#}

{#        <script>#}

{#            /** Contain all code to init map and creta marker that need to be done in twig */#}
{#            {% include '@LuccaCore/Dashboard/Js/global.js.twig' with {'adherentId': adherentId, 'displayResults': 'true' } %}#}

{#        </script>#}
{#    {% endif %}#}
{% endblock lucca_js %}
