{#-- Translation domain --#}
{% trans_default_domain 'LuccaMediaBundle' %}

{#-- Form theming - collection_widget --#}
{% block collection_widget %}
    {% apply spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_widget(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}

        {{ form_errors(form) }}

        <table {{ block('widget_attributes') }}>
            <thead>
            <tr>
                <th>{{ 'label.name'|trans }}</th>
                <th>{{ 'label.keyword'|trans }}</th>
                <th>{{ 'label.value'|trans }}</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for item in form %}
                {{ form_widget(item) }}
            {% endfor %}
            </tbody>
        </table>
    {% endapply %}
{% endblock %}


{#-- Form theming - field widget --#}
{% block lucca_mediaBundle_metaData_widget %}

    <tr {{ block('widget_attributes') }}>
        <td>{{ form_widget(form.name) }}</td>
        <td>{{ form_widget(form.keyword) }}</td>
        <td>{{ form_widget(form.value) }}</td>
        <td class="text-center">
            <a href="#" class="collection-up btn btn-secondary btn-sm" title="{{ "link.metaData.up"|trans }}">
                <span class="fa fa-arrow-up"></span></a>
            <a href="#" class="collection-down btn btn-secondary btn-sm" title="{{ "link.metaData.down"|trans }}">
                <span class="fa fa-arrow-down"></span></a>

            <a href="#" class="collection-remove btn btn-danger btn-sm" title="{{ "link.metaData.delete"|trans }}">
                <span class="fas fa-trash"></span></a>
            <a href="#" class="collection-duplicate btn btn-info btn-sm" title="{{ "link.metaData.duplicate"|trans }}">
                <span class="fas fa-th-large"></span></a>
        </td>
    </tr>

{% endblock %}

{% block lucca_mediaBundle_metaData_label %}{% endblock %}
