{#-- Extends view --#}
{% extends "@LuccaModel/Printing/base.html.twig" %}

{#-- Translation domain --#}
{% trans_default_domain 'LuccaControlBundle' %}


{% block lucca_title %}
    Lettre au contrevenant
{% endblock lucca_title %}


{% block lucca_model_content %}

    {% if courier.humansEditions|length > 0 %}
        {% for edition in courier.humansEditions %}
            {% if isPreprint is defined and isPreprint %}
                <img src="{{ pdf_asset }}{{ asset('assets/img/preprint.png') }}" alt="preprint" class="preprint">
            {% endif %}

            {% if edition.letterOffenderEdited %}
                {#We need to replace the logo of view by logo of pdf#}
                {% if officialLogo is defined and officialLogo.id is not defined %}
                    {{ edition.letterOffender
                    |replace({ (asset(officialLogo)): (pdf_asset ~ asset(officialLogo)) } ) | localPath
                    |raw }}
                {% else %}
                    {{ edition.letterOffender|localPath|raw }}
                {% endif %}

            {% else %}
                {% if 'setting.courier.offenderContent.name'|setting == true %}
                    {% set filename = 'LuccaMinuteBundle:Courier/Printing/Custom:offender_content-' ~ 'setting.general.departement.name'|setting ~ '.html.twig' %}
                    {% include filename with {'minute': minute, 'courier': courier, 'human': edition.human} %}
                {% else %}
                    {% include 'LuccaMinuteBundle:Courier/Printing/Basic:offender_content.html.twig' with {'minute': minute, 'courier': courier, 'human': edition.human} %}
                {% endif %}
            {% endif %}

            {% if not loop.last %}
                <div class="page-break"></div>
            {% endif %}
        {% endfor %}

    {% else %}
        {#Case if no edition has been found - after closure minute for example#}
        {% for edition in courier.folder.humansByMinute|merge(courier.folder.humansByFolder) %}

            {% if isPreprint is defined and isPreprint %}
                <img src="{{ pdf_asset }}{{ asset('assets/img/preprint.png') }}"
                     alt="preprint" class="preprint">
            {% endif %}

            {% if 'setting.courier.offenderContent.name'|setting == true %}
                {% set filename = 'LuccaMinuteBundle:Courier/Printing/Custom:offender_content-' ~ 'setting.general.departement.name'|setting ~ '.html.twig' %}
                {% include filename with {'minute': minute, 'courier': courier, 'human': edition} %}
            {% else %}
                {% include 'LuccaMinuteBundle:Courier/Printing/Basic:offender_content.html.twig' with {'minute': minute, 'courier': courier, 'human': edition} %}
            {% endif %}

            {% if not loop.last %}
                <div class="page-break"></div>
            {% endif %}
        {% endfor %}

    {% endif %}

{% endblock lucca_model_content %}
