{#-- Extends view --#}
{% extends '@LuccaThemeStreamDashboardUiKit/SubLayout/edit.html.twig' %}

{#-- Translation domain --#}
{% trans_default_domain 'LuccaParameterBundle' %}

{#-- Parameters --#}
{% set entity_trans_key='entity.tribunal' %}
{% block menuActive_parameter %}class="active"{% endblock %}


{% block lucca_panels %}

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {#-- Panel - main --#}
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">

        <div class="card card-default">
            <div class="card-header">
                {{ 'title.edit'|trans({}, 'LuccaThemeStreamDashboardUiKit') }} - <b>{{ tribunal.name }}</b>
            </div>

            <div class="card-wrapper">
                <div class="card-body">
                    <div class="col-12">
                        {{ form_row(edit_form.code) }}
                        {{ form_row(edit_form.name) }}
                        {{ form_row(edit_form.enabled) }}

                        {{ form_row(edit_form.interlocutor) }}
                        {{ form_row(edit_form.address) }}
                        {{ form_row(edit_form.addressCpl) }}
                        {{ form_row(edit_form.zipCode) }}
                        {{ form_row(edit_form.city) }}
                        {{ form_row(edit_form.region) }}
                        {{ form_row(edit_form.country) }}

                        {{ form_row(edit_form.office) }}

                        <a href="{{ path('lucca_tribunal_show', { 'id': tribunal.id }) }}"
                           class="btn btn-secondary btn-lg" title="{{ 'link.tribunal.show'|trans }}">
                            <i class="fa fa-eye"></i></a>

                        <button type="submit" class="btn btn-warning btn-lg" title="{{ 'link.tribunal.edit'|trans }}">
                            <i class="fa fa-check"></i></button>

                        <a class="btn btn-danger btn-lg pull-right"
                           data-toggle="modal" data-target=".delWin" title="{{ 'link.tribunal.delete'|trans }}">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {#-- End Panel - main --#}

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

{% endblock lucca_panels %}


{% block lucca_js %}
    {% include '@LuccaThemeStreamDashboardUiKit/Modal/delete.html.twig' with {'id': tribunal.name, 'name': tribunal.name, 'delForm': delete_form} %}

    {{ parent() }}
{% endblock lucca_js %}
