{#-- Extends view --#}
{% extends '@LuccaThemeStreamDashboardUiKit/SubLayout/index.html.twig' %}

{#-- Translation domain --#}
{% trans_default_domain 'LuccaParameterBundle' %}

{#-- Parameters --#}
{% set entity_trans='entity.tribunal'|trans %}
{% block menuActive_parameter %}active{% endblock menuActive_parameter %}


{% block lucca_list %}

    <table class="table table-hover w-100 responsive">
        <thead>
        <tr>
            <th><i class="fa fa-university"></i> {{ 'label.name'|trans }}</th>
            <th>{{ 'label.code'|trans }}</th>
            <th>{{ 'label.address'|trans }}</th>
            <th>{{ 'label.office'|trans }}</th>
            <th><i class="fa fa-cogs"></i> {{ 'label.actions'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for tribunal in tribunals %}
            <tr>
                <td>{{ tribunal.name }}</td>
                <td>{{ tribunal.code }}</td>
                <td>{{ tribunal.inlineAddress|raw }}</td>
                <td>{% if tribunal.office %}{{ tribunal.office.name }}{% endif %}</td>
                <td>
                    {% if tribunal.enabled %}
                        <a href="{{ path('lucca_tribunal_enable', { 'id': tribunal.id }) }}" class="btn btn-info btn-sm"
                           title="{{ 'link.tribunal.disable'|trans }}">
                            <i class="fa fa-toggle-on" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('lucca_tribunal_enable', { 'id': tribunal.id }) }}"
                           class="btn btn-danger btn-sm" title="{{ 'link.tribunal.enable'|trans }}">
                            <i class="fa fa-toggle-off" aria-hidden="true"></i>
                        </a>
                    {% endif %}

                    <a href="{{ path('lucca_tribunal_show', { 'id': tribunal.id }) }}" class="btn btn-primary btn-sm"
                       title="{{ 'link.tribunal.show'|trans }}"> <i class="fa fa-eye"></i> </a>
                    <a href="{{ path('lucca_tribunal_edit', { 'id': tribunal.id }) }}" class="btn btn-warning btn-sm"
                       title="{{ 'link.tribunal.edit'|trans }}"> <i class="fas fa-pencil-alt"></i> </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary btn-lg" href="{{ path('lucca_core_parameter') }}"
       title="{{ 'link.parameter'|trans }}"><i class="fa fa-reply"></i></a>

    <a class="btn btn-primary btn-lg" href="{{ path('lucca_tribunal_new') }}"
       title="{{ 'link.tribunal.new'|trans }}"><i class="fa fa-plus"></i></a>
{% endblock lucca_list %}

