{#-- Extends view --#}
{% extends '@LuccaThemeStreamDashboardUiKit/SubLayout/show.html.twig' %}

{#-- Translation domain --#}
{% trans_default_domain 'DepartmentBundle' %}

{#-- Parameters --#}
{% set entity_trans='label.department'|trans %}
{% block menuActive_department %}active{% endblock %}

{% block lucca_panels %}

    <div class="row">
        {#-- Panel - main --#}
        <div class="col-12 col-xl-6">

            <div class="card card-default">
                <div class="card-header">
                    {{ 'title.show'|trans({}, 'ThemeStreamDashboardUiKit') }} - <b>{{ department.name }}</b>
                </div>

                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="col-12">
                            <table class="table table-striped table-hover">
                                <tbody>
                                <tr>
                                    <th>{{ 'label.code'|trans }}</th>
                                    <td>{{ department.code }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.name'|trans }}</th>
                                    <td>{{ department.name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.domainName'|trans }}</th>
                                    <td>{{ department.domainName }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.comment'|trans }}</th>
                                    <td>
                                        <div>{{ department.comment | raw }}</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-12">
                            <a class="btn btn-default btn-lg" href="{{ path('lucca_department_admin_index') }}"
                               title="{{ 'link.department.backList'|trans }}"><i class="fas fa-reply"></i></a>

                            {% if app.user and is_granted("ROLE_SUPER_ADMIN") %}
                                <a class="btn btn-warning btn-lg"
                                   href="{{ path('lucca_department_admin_edit', { 'id': department.id }) }}"
                                   title="{{ 'link.department.edit'|trans }}"><i class="fas fa-pencil-alt"></i></a>
                            {% endif %}

                            {% if app.user and is_granted("ROLE_SUPER_ADMIN") %}
                                {% if department.enabled %}
                                    <a href="{{ path('lucca_department_admin_disable', { 'id': department.id }) }}"
                                       class="btn btn-primary btn-lg float-right" title="{{ 'link.department.disable'|trans }}">
                                        <i class="fas fa-toggle-on" aria-hidden="true"></i>
                                    </a>
                                    <a href="{{ path('lucca_department_admin_generate_settings', { 'id': department.id }) }}"
                                       class="btn btn-primary btn-lg" title="{{ 'link.department.generateSettings'|trans }}">
                                        {{ 'link.department.generateSettings'|trans }}
                                    </a>
                                {% else %}
                                    <a class="btn btn-danger btn-lg float-right" data-toggle="modal"
                                       data-target=".delWin" title="{{ 'link.department.delete'|trans }}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>

                                    <a href="{{ path('lucca_department_admin_enable', { 'id': department.id }) }}"
                                       class="btn btn-danger btn-lg float-right mr-1" title="{{ 'link.department.enable'|trans }}">
                                        <i class="fas fa-toggle-off" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#-- Panel - next steps --#}
        <div class="col-12 col-xl-6">
            <div class="card border-info">
                <div class="card-header bg-info text-white">
                    <i class="fas fa-info-circle"></i> {{ 'title.nextSteps'|trans }}
                </div>
                <div class="card-wrapper">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-cog text-primary mr-2"></i>
                                {{ 'nextSteps.createDomainName'|trans }}
                            </li>
                            <li class="mt-3">
                                <i class="fas fa-cog text-primary mr-2"></i>
                                {{ 'nextSteps.createSetting'|trans }}
                            </li>
                            <li class="mt-3">
                                <i class="fas fa-cog text-primary mr-2"></i>
                                {{ 'nextSteps.updateSettings'|trans }}
                            </li>
                            <li class="mt-3">
                                <i class="fas fa-users text-primary mr-2"></i>
                                {{ 'nextSteps.assignUsers'|trans }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock lucca_panels %}

{% block lucca_modal %}
    {{ parent() }}
    {% include '@LuccaThemeStreamDashboardUiKit/Modal/delete.html.twig' with {
        'id': department.id,
        'name': department.name,
        'delForm': delete_form
    } %}
{% endblock lucca_modal %}

{% block lucca_css %}
    {{ parent() }}
{% endblock lucca_css %}

{% block lucca_js %}
    {{ parent() }}
{% endblock lucca_js %}
