{#- - Extends view - -#}
{% extends '@LuccaThemeStreamDashboardUiKit/SubLayout/index.html.twig' %}

{#- - Translation domain - -#}
{% trans_default_domain 'AdherentBundle' %}

{#- - Parameters - -#}
{% set entity_trans='entity.adherent'|trans %}
{% block menuActive_adherent %}active{% endblock %}
{% block menuActive_adherent_admin %}active{% endblock %}

{% if isAdminScope is not defined %}
    {% set isAdminScope = false %}
{% endif %}

{% block lucca_list %}

    <table
        class="table adherentTable table-hover w-100 responsive js-datatable-server-side"
        data-url="{{ path('lucca_adherent_api_list_datatable', { 'isAdminScope': isAdminScope }) }}">

        <thead>
        <tr>
            {#- - data-data maps to the keys returned by your Controller's array_map - -#}
            {% if isAdminScope %}
            <th data-data="department" data-column-searchable="true"><i class="fas fa-map-pin"></i> {{ 'label.department'|trans([], 'DepartmentBundle') }}</th>
            {% endif %}
            <th data-data="officialName" data-column-searchable="true"><i class="fa fa-male"></i> {{ 'label.name'|trans }}</th>
            <th data-data="email" data-column-searchable="true"><i class="fa fa-at"></i> {{ 'label.email'|trans }}</th>
            <th data-data="phone" data-column-searchable="true"><i class="fa fa-phone"></i> {{ 'label.phone'|trans }}</th>
            <th data-data="location" data-column-searchable="true">{{ 'label.service'|trans }} / {{ 'label.intercommunal'|trans }}
                / {{ 'label.town'|trans }}</th>
            <th data-data="address" data-column-searchable="true">{{ 'label.address'|trans }}</th>
            <th data-data="username" data-column-searchable="true">{{ 'label.username'|trans }}</th>
            <th data-data="logo" data-searchable="false">{{ 'label.logo'|trans }}</th>
            <th data-data="groups" data-column-searchable="true">{{ 'label.groups'|trans }}</th>
            <th data-data="actions" data-searchable="false">
                <i class="fa fa-cogs"></i> {{ 'label.actions'|trans }}
            </th>
        </tr>
        </thead>

        <tbody>
        {#- - Automatically populated by DataTables Ajax - -#}
        </tbody>

        <tfoot>
        <tr>
            {#- - Footer inputs for individual column searching - -#}
            {% if isAdminScope %}
            <th></th>
            {% endif %}
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
    </table>

    <div class="mt-3">
        <a class="btn btn-primary btn-lg" href="{{ path('lucca_adherent_new') }}"
           title="{{ 'link.adherent.new'|trans }}"><i class="fa fa-plus"></i></a>
    </div>

{% endblock lucca_list %}


{% block lucca_datatables_js %}
    {#- - Plugin - DataTables - -#}
        {% include "@LuccaThemeStreamDashboardUiKit/Plugins/datatables.js.html.twig" with { 'init' : false } %}

    <script>
        {% include "@LuccaCore/Dashboard/Js/datatable-header-paginate.js.twig" with { 'selector': '.adherentTable' } %}
    </script>
{% endblock lucca_datatables_js %}

