{% extends '@LuccaThemeStreamDashboardUiKit/SubLayout/index.html.twig' %}
{% trans_default_domain 'ContentBundle' %}

{% set entity_trans='entity.area'|trans %}


{% block menuActive_area %}active{% endblock menuActive_area %}


{% block lucca_list %}

    <table class="table table-hover w-100 responsive dataTables">
        <thead>
        <tr>
            <th><i class="fa fa-cube"></i> {{ 'label.name'|trans }}</th>
            <th>{{ 'label.position'|trans }}</th>
            <th>{{ 'label.enabled'|trans }}</th>
            <th><i class="fa fa-cogs"></i> {{ 'label.actions'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for area in areas %}
            <tr>
                <td>{{ area.name }}</td>
                <td>{{ area.position|trans }}</td>
                <td>{% if area.enabled %} <i class="fa fa-check"></i> {% else %}
                        <i class="fas fa-times"></i> {% endif %}</td>
                <td>
                    {% if area.enabled %}
                        <a href="{{ path('lucca_area_enable', { 'id': area.id }) }}"
                           class="btn btn-info btn-sm" title="{{ 'link.enable'|trans }}">
                            <i class="fa fa-toggle-on" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('lucca_area_enable', { 'id': area.id }) }}"
                           class="btn btn-danger btn-sm" title="{{ 'link.disable'|trans }}">
                            <i class="fa fa-toggle-off" aria-hidden="true"></i>
                        </a>
                    {% endif %}

                    <a href="{{ path('lucca_area_show', { 'id': area.id }) }}" class="btn btn-primary btn-sm"
                       title="{{ 'link.show'|trans }}"> <i class="fa fa-eye"></i> </a>
                    <a href="{{ path('lucca_area_edit', { 'id': area.id }) }}" class="btn btn-warning btn-sm"
                       title="{{ 'link.edit'|trans }}"> <i class="fas fa-pencil-alt"></i> </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary btn-lg" href="{{ path('lucca_area_new') }}"
       title="{{ 'link.new'|trans }}"><i class="fa fa-plus"></i></a>
{% endblock lucca_list %}

