{% extends '@LuccaThemeStreamDashboardUiKit/SubLayout/show.html.twig' %}
{% trans_default_domain 'LuccaContentBundle' %}

{% set entity_trans='entity.area'|trans %}



{% block menuActive_area %}active{% endblock menuActive_area %}


{% block lucca_panels %}

    <div class="row">
        {#-- Panel - main --#}
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

            <div class="card card-default">
                <div class="card-header">
                    {{ 'title.show'|trans({}, 'LuccaThemeStreamDashboardUiKit') }} - <b>{{ area.name }}</b>
                </div>

                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="col-12">

                            <table class="table table-striped table-hover">
                                <tbody>
                                <tr>
                                    <th><i class="fa fa-cube"></i> {{ 'label.name'|trans }}</th>
                                    <td>{{ area.name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.enabled'|trans }}</th>
                                    <td>{% if area.enabled %}<i class="fa fa-check"></i>{% else %}<i
                                            class="fas fa-times"></i>{% endif %} </td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.position'|trans }}</th>
                                    <td>{{ area.position|trans }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-12 mt-4">
                            <a class="btn btn-secondary btn-lg" href="{{ path('lucca_area_index') }}"
                               title="{{ 'link.back'|trans }}"><i class="fa fa-reply"></i></a>

                            <a class="btn btn-warning btn-lg"
                               href="{{ path('lucca_area_edit', { 'id': area.id }) }}"
                               title="{{ 'link.edit'|trans }}"><i class="fas fa-pencil-alt"></i></a>

                            <a class="btn btn-danger btn-lg pull-right" data-toggle="modal"
                               data-target=".delWin" title="{{ 'link.delete'|trans }}">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {#-- End Panel - main --#}

        {#-- Panel - subareas --#}
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

            <div class="card card-default">
                <div class="card-header">
                    {{ 'title.manage'|trans({}, 'LuccaThemeStreamDashboardUiKit') }} - <b>{{ 'entity.subarea'|trans }}</b>
                </div>

                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="col-12">

                            <table class="table table-hover w-100 responsive">
                                <thead>
                                <tr>
                                    <th>{{ 'label.position'|trans }}</th>
                                    <th><i class="fa fa-cubes"></i> {{ 'label.name'|trans }}</th>
                                    <th>{{ 'label.title'|trans }}</th>
                                    <th>{{ 'label.color'|trans }}</th>
                                    <th>{{ 'label.enabled'|trans }}</th>
                                    <th><i class="fa fa-cogs"></i> {{ 'label.actions'|trans }}</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for subArea in subareas %}
                                    <tr>
                                        <td>{{ subArea.position }}</td>
                                        <td>{{ subArea.name }}</td>
                                        <td>{{ subArea.title }}</td>
                                        <td style="border-left: 15px solid {{ subArea.color }}">{{ subArea.color }}</td>
                                        <td>{% if subArea.enabled %} <i class="fa fa-check"></i> {% else %}
                                                <i class="fas fa-times"></i> {% endif %}</td>
                                        <td>
                                            {% if subArea.enabled %}
                                                <a href="{{ path('lucca_subarea_enable', { 'id': subArea.id }) }}"
                                                   class="btn btn-info btn-sm" title="{{ 'link.enable'|trans }}">
                                                    <i class="fa fa-toggle-on" aria-hidden="true"></i>
                                                </a>
                                            {% else %}
                                                <a href="{{ path('lucca_subarea_enable', { 'id': subArea.id }) }}"
                                                   class="btn btn-info btn-sm" title="{{ 'link.disable'|trans }}">
                                                    <i class="fa fa-toggle-off" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}

                                            <a href="{{ path('lucca_subarea_show', { 'id': subArea.id }) }}"
                                               class="btn btn-primary btn-sm"
                                               title="{{ 'link.show'|trans }}"> <i class="fa fa-eye"></i> </a>
                                            <a href="{{ path('lucca_subarea_edit', { 'id': subArea.id }) }}"
                                               class="btn btn-warning btn-sm"
                                               title="{{ 'link.edit'|trans }}"> <i class="fas fa-pencil-alt"></i> </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#-- End Panel - subareas --#}
    </div>

{% endblock lucca_panels %}

{% block lucca_css %}
    {{ parent() }}
{% endblock lucca_css %}


{% block lucca_js %}
    {{ parent() }}

    {% include '@LuccaThemeStreamDashboardUiKit/Modal/delete.html.twig' with {'id': area.name, 'name': area.name, 'delForm': delete_form} %}
{% endblock lucca_js %}
