{% extends "@LuccaThemeStreamDashboardUiKit/Layout/layout.html.twig" %}
{% trans_default_domain 'LuccaUserBundle' %}

{% set param_entity='entity.user'|transchoice(1) %}
{% set param_entities='entity.user'|transchoice(2) %}

{% block menuActive_profile %}class="active"{% endblock menuActive_profile %}

{% block lucca_page %}

    {#-- Panel - main --#}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">

        <div class="card card-default">
            <div class="card-header"><b>{{ app.user.name }}</b></div>

            <div class="card-wrapper">
                <div class="card-body">
                    <div class="col-12">
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.current_password) }}

                        <a class="btn btn-secondary btn-lg" href="{{ path('fos_user_profile_show') }}"
                           title="{{ 'link.back'|trans }}"><i class="fa fa-reply"></i></a>

                        <button type="submit" class="btn btn-success btn-lg"
                                title="{{ 'link.new'|trans }}"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
    {#-- End Panel - main --#}

{% endblock lucca_page %}
