{% extends '@LuccaThemeStreamDashboardUiKit/SubLayout/index.html.twig' %}
{% trans_default_domain 'UserBundle' %}

{% set entity_trans='entity.user'|trans %}

{% block menuActive_user %}active{% endblock menuActive_user %}

{% block lucca_list %}
    <table
        class="table userTable table-hover w-100 responsive js-datatable-server-side"
        data-url="{{ path('lucca_user_api_list_datatable') }}"
    >
        <thead>
        <tr>
            <th data-data="username"><i class="fa fa-user"></i> {{ 'label.username'|trans }}</th>
            <th data-data="name">{{ 'label.name'|trans }}</th>
            <th data-data="email">{{ 'label.email'|trans }}</th>
            <th data-data="departments">{{ 'label.departments'|trans([], 'DepartmentBundle') }}</th>
            <th data-data="lastLogin">{{ 'label.lastLogin'|trans }}</th>
            <th data-data="enabled">{{ 'label.enabled'|trans }}</th>
            <th data-data="groups">{{ 'label.groups'|trans }}</th>
            <th data-data="actions" data-searchable="false"><i class="fa fa-cogs"></i> Actions</th>
        </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
    </table>
{% endblock %}

{% block lucca_datatables_js %}
    {% include "@LuccaThemeStreamDashboardUiKit/Plugins/datatables.js.html.twig" with { 'init' : false } %}
    <script>
        {% include "@LuccaCore/Dashboard/Js/datatable-header-paginate.js.twig" with { 'selector': '.userTable' } %}
    </script>
{% endblock %}

