{% extends '@LuccaThemeStreamDashboardUiKit/SubLayout/index.html.twig' %}
{% trans_default_domain 'UserBundle' %}

{% set entity_trans='entity.user'|trans %}


{% block menuActive_user %}active{% endblock menuActive_user %}


{% block lucca_list %}

    <table class="table table-hover w-100 responsive dataTables">
        <thead>
        <tr>
            <th><i class="fa fa-user"></i> {{ 'label.username'|trans }}</th>
            <th>{{ 'label.name'|trans }}</th>
            <th>{{ 'label.email'|trans }}</th>
            <th>{{ 'label.lastLogin'|trans }}</th>
            <th>{{ 'label.enabled'|trans }}</th>
            <th>{{ 'label.groups'|trans }}</th>
            <th><i class="fa fa-cogs"></i> {{ 'label.actions'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                <td>{% if user.lastLogin %}{{ user.lastLogin|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{% if user.enabled %} <i class="fa fa-check"></i> {% else %}
                        <i class="fas fa-times"></i> {% endif %}</td>
                <td>{% for group in user.groups %}
                        {{ group.name }}
                        {% if not loop.last %}<br>{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if user.enabled %}
                        <a href="{{ path('lucca_user_enable', { 'id': user.id }) }}"
                           class="btn btn-info btn-sm" title="{{ 'link.enable'|trans }}">
                            <i class="fa fa-toggle-on" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('lucca_user_enable', { 'id': user.id }) }}"
                           class="btn btn-danger btn-sm" title="{{ 'link.disable'|trans }}">
                            <i class="fa fa-toggle-off" aria-hidden="true"></i>
                        </a>
                    {% endif %}

                    <a href="{{ path('lucca_user_show', { 'id': user.id }) }}" class="btn btn-primary btn-sm"
                       title="{{ 'link.show'|trans }}"> <i class="fa fa-eye"></i> </a>
                    <a href="{{ path('lucca_user_edit', { 'id': user.id }) }}" class="btn btn-warning btn-sm"
                       title="{{ 'link.edit'|trans }}"> <i class="fas fa-pencil-alt"></i> </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary btn-lg" href="{{ path('lucca_user_new') }}"
       title="{{ 'link.new'|trans }}"><i class="fa fa-plus"></i></a>
{% endblock lucca_list %}

