{% extends "LuccaThemeAngleBundle:SubLayout:new.html.twig" %}
{% trans_default_domain 'LuccaUserBundle' %}

{% set param_entity='entity.user'|transchoice(1) %}
{% set param_entities='entity.user'|transchoice(2) %}


{% block menuActive_user %}class="active"{% endblock menuActive_user %}


{% block lucca_panels %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        {#-- Panel - main --#}
        <div class="col-sm">
            <div class="card card-default">
                <div class="card-header">
                    {{ 'title.new'|trans({}, 'LuccaThemeAngleBundle') }} - <b>{{ param_entity }}</b>
                </div>

                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="col-12">
                            {{ form_row(form.username) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.enabled) }}
                            {{ form_row(form.groups) }}
                            {{ form_row(form.name) }}

                            <a class="btn btn-secondary btn-lg" href="{{ path('lucca_user_index') }}"
                               title="{{ 'link.back'|trans }}"><i class="fa fa-reply"></i></a>

                            <button type="submit" class="btn btn-success btn-lg"
                                    title="{{ 'link.new'|trans }}"><i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#-- End Panel - main --#}

        {#-- Panel - password --#}
        <div class="col-sm">
            <div class="card card-default">
                <div class="card-header"></div>

                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="col-12">
                            {{ form_row(form.plainPassword) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#-- End Panel - password --#}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock lucca_panels %}
