{% extends "@LuccaThemeStreamDashboardUiKit/Page/angleLogin.html.twig" %}
{% trans_default_domain 'CoreBundle' %}

{% block lucca_title %}
    <title>{{ 'setting.general.app.name'| setting }} | {{ 'title.selectDepartment'|trans }}</title>
{% endblock lucca_title %}

{% block lucca_header %}
    {{ 'title.selectDepartment'|trans }}
{% endblock lucca_header %}


{% block lucca_login %}
{#    {% include '@NwThemeColor/Flash/flashMessages.html.twig' %}#}
    {% set adminSpace = app.user and is_granted("ROLE_ADMIN") %}

    <div class="d-flex align-items-center mb-5">
        <img src="{{ asset('assets/logo/lucca-color.png') }}" alt="" width="100" height="auto">
    </div>

    <div class="card col-10 {% if not adminSpace %}col-md-8 col-xl-6{% endif %}" style="max-height: 25vh">
        <div class="card-header">
            <h3 class="m-0"><b>{{ 'title.selectDepartment'|trans }}</b></h3>
        </div>

        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="{% if adminSpace %}col-md-6 border-right{% else %}col-12{% endif %} text-center align-self-center">
                    {{ form_widget(form.department) }}

                    <button type="submit" class="btn btn-primary btn-block w-50 mt-5 mx-auto">{{ 'text.validate'|trans }}</button>
                </div>

                {% if adminSpace %}
                    <div class="col-md-6 text-center align-self-center">
                        <button type="submit" name="adminSpace" class="btn btn-xs btn-default">{{ 'title.adminScope'|trans }}</button>
                    </div>
                {% endif %}

            </div>

            {{ form_end(form) }}
        </div>

        <a class="btn btn-danger w-25 float-end my-3" href="{{ path('lucca_user_security_logout') }}">
            {{ 'menu.logout'|trans({}, 'ThemeStreamDashboardUiKit') }}
        </a>
    </div>
{% endblock lucca_login %}


{% block lucca_css %}

    {{ parent() }}
    <style>
        .login-container {
            max-width: 750px !important;
        }
    </style>
{% endblock lucca_css %}
