{% extends '@LuccaThemeStreamDashboardUiKit/Layout/layout.html.twig' %}
{% trans_default_domain 'LuccaUserBundle' %}

{% set entity_trans='entity.user'|trans %}


{% block menuActive_changePass %}active{% endblock menuActive_changePass %}

{% block lucca_page %}

    {#-- Panel - main --#}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">

        <div class="card card-default">
            <div class="card-header"><b>{{ app.user.name }}</b></div>

            <div class="card-wrapper">
                <div class="card-body">
                    <div class="col-12">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_widget(form) }}

                        <a class="btn btn-secondary btn-lg" href="{{ path('lucca_user_profile_show') }}"
                           title="{{ 'link.back'|trans }}"><i class="fa fa-reply"></i></a>

                        <button type="submit" class="btn btn-warning btn-lg" title="{{ 'link.edit'|trans }}"><i
                                class="fas fa-pencil-alt"></i></button>

                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#-- End Panel - main --#}

{% endblock lucca_page %}

