{% extends '@LuccaFolder/Folder/Printing/Basic/doc_content.html.twig' %}
{% trans_default_domain 'FolderBundle' %}

{% import "@LuccaMinute/Human/human-macro.html.twig" as humanMacro %}
{% import "@LuccaMinute/Agent/agent-attendant-macro.html.twig" as agentAttendantMacro %}


{% block lucca_folder_doc_content_title %}
    <div class="row mb25 mt150 pt15">
        <div class="col-12 text-center">
            <h3 class="letter-title">

                {% if folder.type is constant('TYPE_REFRESH', folder) %}
                    Procès verbal de constatation à l'urbanisme
                {% else %}
                    Procès verbal d'infraction à l'urbanisme
                {% endif %}

                {% if folder.hasTag('Plan de prévention des risques') %}
                    <br>Et au code de l'environnement
                {% endif %}

                <br>
                <small>N° {{ folder.num }}</small>
            </h3>
        </div>
    </div>
{% endblock %}


{#-- Agent function --#}
{% block lucca_folder_doc_content_agentFunction %}
    <div class="row mb25 mb15 pt15">
        <div class="col-12 letter-content">
            {% if agent.function in [
                constant('FUNCTION_MAYOR', agent),
                constant('FUNCTION_DEPUTY', agent)
            ] %}
                Je soussigné, {{ agent.officialName }}, agissant en tant que {{ agent.function|trans({}, 'FolderBundle') }}
                de la commune de {{ structureName }} rapporte et certifie que :
            {% elseif agent.function is constant('FUNCTION_COUNTRY_AGENT', agent) and minute.adherent.service is not null %}
                Je soussigné {{ agent.officialName }}, {{ agent.function|trans({}, 'FolderBundle') }} en poste à la
                {{ structureName }} ayant prêté serment devant le Tribunal de Grande Instance de {{ minute.tribunal.office.name }}
                et porteur de la commission n° {{ agent.commission }}, rapporte ce qui suit :
            {% else %}
                Je soussigné {{ agent.officialName }}, {{ agent.function|trans({}, 'FolderBundle') }} en poste à la commune de
                {{ structureOffice }} ayant prêté serment devant le Tribunal de Grande Instance de
                {{ minute.tribunal.office.name }} et porteur de la commission n° {{ agent.commission }}, rapporte ce qui suit :
            {% endif %}

        </div>
    </div>
{% endblock %}
{#-- End - Agent function --#}

