{% trans_default_domain 'LuccaFolderBundle' %}

{% set control = folder.control %}
{% set minute = folder.minute %}
{% set plot = minute.plot %}

{% set structureName = minute.adherent.structureName %}
{% set structureOffice = minute.adherent.structureOffice %}

{% import "@LuccaMinute/Human/human-macro.html.twig" as humanMacro %}
{% import "@LuccaMinute/Agent/agent-attendant-macro.html.twig" as agentAttendantMacro %}

{% block lucca_folder_doc_content_title %}
    <div class="row mb25 mt150 pt15">
        <div class="col-xs-12 col-12 text-center offset-2">
            <h3 class="bordered p-3 letter-title">
                {#Si c'est une actualisation#}
                {% if folder.type is constant('TYPE_REFRESH', folder) %}
                    Procès verbal de constatation à l'urbanisme
                {% else %}
                    Procès verbal d'infraction <br>au code de l'urbanisme
                {% endif %}

                {#Si le dossier a le tag 'Plan de prévention des risques' affichage du texte#}
                {% if folder.hasTag('Plan de prévention des risques') %}
                    <br>Et au code de l'environnement
                {% endif %}
                <br>
                <small>N° {{ folder.num }}</small>
            </h3>
        </div>
    </div>
{% endblock %}

{#-- Agent function article --#}
{% block lucca_folder_doc_content_article %}
    <div class="row mb25 mb15 pt15">
        <div class="col-12 letter-object">
            {#Si l'agent est maire ou député#}
            {% if agent.function in [
                constant('FUNCTION_MAYOR', agent),
                constant('FUNCTION_DEPUTY', agent)
            ] %}
                Vu les articles L. 480-1, L . 610-1 et R. 480-3 du code de l’urbanisme;<br>
                Vu les articles 16 et 431 du code de procédure pénale;<br>
                Vu l’article L.2122-31 du Code Général des Collectivités Territoriales.
                {#Si l'agent est agent de police#}
            {% elseif agent.function in [
                constant('FUNCTION_POLICE', agent)
            ] %}
                Vu les articles L. 480-1, L.610-1 et R. 480-3 du code de l’urbanisme;<br>
                Vu les articles 16 et 431 du code de procédure pénale;<br>
                Vu les articles 21§2, 21-2 et D15 du Code de Procédure Pénale;<br>
                Vu l'article L.511-1 du Code de la Sécurité Intérieure;<br>
                Vu l’article L.2122-19 du Code Général des Collectivités Territoriales.
                {#Si l'agent est Directeur Services Technique, Directeur Général des Services, Responsable urbanisme ou Admin#}
            {% elseif agent.function in [
                constant('FUNCTION_DGS', agent),
                constant('FUNCTION_DST', agent),
                constant('FUNCTION_TOWN_MANAGER', agent),
                constant('FUNCTION_ADMIN_AGENT', agent)
            ] %}
                Vu les articles L. 480-1, L.610-1 et R. 480-3 du code de l’urbanisme;<br>
                Vu les articles 28 et 431 du code de procédure pénale;<br>
                Vu l’article L.2122-19 du Code Général des Collectivités Territoriales.
            {% else %}
                Vu les articles L. 480-1, L.610-1 et R. 480-3 du code de l’urbanisme;<br>
                Vu les articles 28 et 431 du code de procédure pénale.
            {% endif %}
        </div>
    </div>
{% endblock %}


{#-- Agent function --#}
{% block lucca_folder_doc_content_agentFunction %}
    <div class="row mb25 mb15 pt15">
        <div class="col-12 letter-content">
            {% if agent.function in [
                constant('FUNCTION_MAYOR', agent),
                constant('FUNCTION_DEPUTY', agent)
            ] %}
                Je soussigné, {{ agent.officialName }}, agissant en tant que {{ agent.function|trans({}, 'LuccaFolderBundle') }}
                de la commune de {{ structureName }} rapporte et certifie que :

            {% elseif agent.function in [
                constant('FUNCTION_COUNTRY_AGENT', agent)
            ] %}
                Je soussigné {{ agent.officialName }}, {{ agent.function|trans({}, 'LuccaFolderBundle') }} en poste à la DDTM de la Gironde
                ayant prêté serment devant le Tribunal de Grande Instance de
                {{ minute.tribunal.office.name }} et porteur de la commission n° {{ agent.commission }}, rapporte ce qui suit :
            {% else %}
                Je soussigné {{ agent.officialName }}, {{ agent.function|trans({}, 'LuccaFolderBundle') }} en poste à la commune de
                {{ structureOffice }} ayant prêté serment devant le Tribunal de Grande Instance de
                {{ minute.tribunal.office.name }} et porteur de la commission n° {{ agent.commission }}, rapporte ce qui suit :
            {% endif %}
        </div>
    </div>
{% endblock %}
{#-- End - Agent function --#}

{#-- Plot --#}
{% block lucca_folder_doc_content_plot %}
    <div class="row mb25 mb15 pt15">
        <div class="col-12 letter-content">
            Le {{ control.dateControl|date('d/m/Y') }} à {{ control.hourControl|date('H:i') }} heures.<br>

            {% if control.dateControl and control.hourControl %}
                {{ control.dateControl|dateToLetter }} {{ control.hourControl|hourToLetter }}.<br>
            {% endif %}

            Je me suis transporté(e),
            {{ agentAttendantMacro.agentAtendantViewTextNamed(control.agentAttendants) }}
            sur l’unité foncière cadastrée {{ plot.parcel }} située sur la commune de {{ plot.town.name }}
            ({{ plot.town.zipcode }}), {% if plot.place %}lieudit {{ plot.place }},{% endif %}
            {% if plot.address %}à l'adresse {{ plot.address }},{% endif %}
            appartenant à :
            <ul>
                {{ humanMacro.humansResponsiblesByMinuteViewListComplete(minute.humans) }}
            </ul>

            Le contrôle prévu a été effectué
            {% if control.stateControl is constant('STATE_OUTSIDE', control) %}
                de l’extérieur de la propriété, en l’absence du propriétaire.
            {% elseif control.stateControl is constant('STATE_INSIDE', control) %}
                de l’intérieur de la propriété, en présence et avec l’assentiment de :
                <ul>
                    {{ humanMacro.humansByFolderViewTextNamed(folder.humansByMinute|merge(folder.humansByFolder)) }}
                </ul>
            {% elseif control.stateControl is constant('STATE_INSIDE_WITHOUT_CONVOCATION', control) %}
                de l’intérieur de la propriété.

            {% elseif control.stateControl is constant('STATE_NEIGHBOUR', control) %}
                de l’intérieur d’une parcelle voisine et avec l’assentiment

                {% if control.humansByControl|length > 0 %}
                    {% for human in control.humansByControl %}
                        {{ human|human_genderName }}, propriétaire de la parcelle {{ human.address }}
                    {% endfor %}
                {% endif %}
                .
            {% endif %}
        </div>
    </div>
{% endblock %}
{#-- End - Plot --#}


{#-- Update --#}
{% block lucca_folder_doc_content_update %}
    {% if update is defined and update %}
        <div class="row mb25 mb15 pt15">
            <div class="col-12 letter-content">
                {#Affichage de la nature de l'infraction et de la description si il y en a une#}
                J’ai constaté ce qui suit : {{ update.nature|trans({}, 'LuccaFolderBundle') }}
                {% if update.description %}
                    {% if 'print' in app.request.attributes.get('_route') %}
                        {{ update.description|localPath|raw }}
                    {% else %}
                        {{ update.description|raw }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{#-- End - Update --#}

{#-- ascertainment --#}
{% block lucca_folder_doc_content_ascertainment %}
    {% if update is defined and not update and folder.ascertainment %}
        {#Si ce n'est pas une actualisation et qu'il y a des constatation#}
        <div class="row mb25 mb15 pt15">
            <div class="col-12 letter-content">
                J’ai constaté ce qui suit :
                {% if 'print' in app.request.attributes.get('_route') %}
                    {{ folder.ascertainment|localPath|raw }}
                {% else %}
                    {{ folder.ascertainment|raw }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{#-- End - ascertainment --#}

{#-- violation --#}
{% block lucca_folder_doc_content_violation %}
    {% if update is defined and not update and folder.violation %}
        {#Si ce n'est pas une actualisation et qu'il y a des violations#}
        <div class="row mb25 mb15 pt15">
            <div class="col-12 letter-content">
                Attendu que :
                {% if 'print' in app.request.attributes.get('_route') %}
                    {{ folder.violation|localPath|raw }}
                {% else %}
                    {{ folder.violation|raw }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{#-- End - violation --#}

{#-- details --#}
{% block lucca_folder_doc_content_details %}
    {% if update is defined and not update and folder.details %}
        {#Si ce n'est pas une actualisation et qu'il y a des détails#}
        <div class="row mb25 mb15 pt15">
            <div class="col-12 letter-content">
                {#Je précise que#}
                {% if 'print' in app.request.attributes.get('_route') %}
                    {{ folder.details|localPath|raw }}
                {% else %}
                    {{ folder.details|raw }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{#-- End - details --#}

{#-- natinfs --#}
{% block lucca_folder_doc_content_natinfs %}
    {% if update is defined and not update %}
        {#Si ce n'est pas une actualisation#}
        <div class="row mb25 mb15 pt15">
            <div class="col-12 letter-content">
                Les faits rapportés ci-dessus constituent des infractions aux :
                <ul>
                    {% for natinf in folder.natinfs %}
                        <li>{{ natinf.definedBy }} réprimées par les {{ natinf.repressedBy }} -
                            <b>code natinf n° {{ natinf.num }}</b> {{ natinf.qualification }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
{#-- End - natinfs --#}

{#-- Annex --#}
{% if folder.elements|length > 0 %}
    {#Si il y a des pièces annexes#}
    <div class="row mb25 mb15 pt15">
        <div class="col-12 letter-content">
            Pièces annexées :
            <ul>
                {% for element in folder.elements %}
                    {% if element.state %}
                        <li>{{ element.name }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
{#-- End - Annex --#}

{#-- Close --#}
{% block lucca_folder_doc_close %}
    <div class="row mb25 mb15 pt15">
        <div class="col-12 letter-content">
            {% if update is defined and not update %}
                {#Si ce n'est pas une actualisation#}
                Je dresse le présent procès-verbal en double exemplaire à l’encontre de :
                <ul>
                    {{ humanMacro.humansByMinuteViewListComplete(minute.humans) }}
                </ul>

                pour être transmis à Monsieur le Procureur de la République de
                {% if minute.tribunalCompetent is defined and minute.tribunalCompetent is not null %}
                    {{ minute.tribunalCompetent.office.name }} ({{ minute.tribunalCompetent.name }})
                {% else %}{{ minute.tribunal.office.name }}{% endif %}.<br>
                Une copie du procès verbal sera adressée à la DDTM 33/ Service Urbanisme, Paysage, Energies et Mobilités à
                {% if minute.tribunalCompetent is defined and minute.tribunalCompetent is not null %}
                    {{ minute.tribunalCompetent.office.name }}
                {% else %}{{ minute.tribunal.office.name }}{% endif %}.<br>
            {% else %}
                Je dresse le présent procès-verbal de constatation pour être transmis à la DDTM 33/ Service Urbanisme, Paysage, Energies et Mobilités
                à {% if minute.tribunalCompetent is defined and minute.tribunalCompetent is not null %}
                {{ minute.tribunalCompetent.office.name }} ({{ minute.tribunalCompetent.name }})
                {% else %}{{ minute.tribunal.office.name }}{% endif %}.
            {% endif %}

        </div>
    </div>
{% endblock %}
{#-- End - Close --#}
