{#-- Translation domain --#}
{% trans_default_domain 'LuccaFolderBundle' %}

{#-- View embed --#}

        {#-- Panel - main --#}
<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-default">
            <div class="card-header"><strong>
                    {{ 'title.folderSigned'|trans }}
                </strong></div>

            <div class="card-wrapper">
                <div class="card-body">
                    <div class="col-12">

                        {{ form_start(form) }}
                        {{ form_errors(form) }}

                        {{ form_row(form.folderSigned,{ 'attr': { 'class': 'labels-hidden' } }) }}

                        {#-- Block embed --#}
                        {% block lucca_embed_buttons_folderSigned %}
                        {% endblock %} {#-- End Block embed --#}

                        {{ form_rest(form) }}
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{#-- End Panel - main --#}

{#-- End - View embed --#}
