{#-- Extends view --#}
{% extends '@LuccaThemeStreamDashboardUiKit/SubLayout/edit.html.twig' %}

{#-- Translation domain --#}
{% trans_default_domain 'ParameterBundle' %}

{#-- Parameters --#}
{% set entity_trans='entity.partner'|trans %}
{% block menuActive_parameter %}active{% endblock %}


{% block lucca_panels %}

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {#-- Panel - main --#}
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">

        <div class="card card-default">
            <div class="card-header">
                {{ 'title.edit'|trans({}, 'ThemeStreamDashboardUiKit') }} - <b>{{ partner.name }}</b>
            </div>

            <div class="card-wrapper">
                <div class="card-body">
                    <div class="col-12">
                        {{ form_row(edit_form.code) }}
                        {{ form_row(edit_form.name) }}
                        {{ form_row(edit_form.enabled) }}

                        <a href="{{ path('lucca_partner_show', { 'id': partner.id }) }}"
                           class="btn btn-secondary btn-lg" title="{{ 'link.partner.show'|trans }}">
                            <i class="fa fa-eye"></i></a>

                        <button type="submit" class="btn btn-warning btn-lg" title="{{ 'link.partner.edit'|trans }}">
                            <i class="fa fa-check"></i></button>

                        <a class="btn btn-danger btn-lg pull-right"
                           data-toggle="modal" data-target=".delWin" title="{{ 'link.partner.delete'|trans }}">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {#-- End Panel - main --#}

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

{% endblock lucca_panels %}

{% block lucca_modal %}
    {{ parent() }}
    {% include '@LuccaThemeStreamDashboardUiKit/Modal/delete.html.twig' with {'id': partner.name, 'name': partner.name, 'delForm': delete_form} %}
{% endblock lucca_modal %}

{% block lucca_js %}
    {{ parent() }}
{% endblock lucca_js %}
