{% trans_default_domain 'LuccaFolderBundle' %}

{% set plot = minute.plot %}
{% set folder = courier.folder %}

{% import "@LuccaMinute/Human/human-macro.html.twig" as humanMacro %}

{% set structureName = adherent.structureName %}
{% set structureOffice = adherent.structureOffice %}

{% if folder.nature is constant('NATURE_OBSTACLE', folder) %}
    {% set humansList = folder.humansByMinute|merge(folder.humansByFolder) %}
{% else %}
    {% set humansList = minute.humans %}
{% endif %}


{#-- Letter Content --#}
{% block lucca_courrier_judicial_content_content %}
    <div class="row">
        <div class="col-12 pv">
            <div class="letter-content">
                <div class="clearfix">
                    <p style="letter-spacing: 0;">
                        Je vous prie de trouver ci-joint un procès-verbal d’infraction à l’urbanisme à
                        l’encontre de
                        {{ humanMacro.humansByCourierViewText(humansList) }}
                         pour
                        {#Si ce n'est pas un obstacle, indication du lieu de l'infraction et texte correspondant#}
                        {% if folder.nature is not constant('NATURE_OBSTACLE', folder) %}
                            la réalisation de travaux irréguliers sur l’unité foncière
                            cadastrée {{ plot.parcel }} {% if plot.place %}lieudit {{ plot.place }}{% endif %} à
                            l'adresse {{ plot.address }} sur le territoire de la commune
                            de {{ plot.town.name }} {{ plot.town.zipcode }}.

                            {#Si obstacle affichage du texte correspondant et du lieu#}
                        {% else %}
                            le délit : Obstacle au droit de visite des constructions par les autorités habilitées.<br>
                            <br>
                            Les travaux devant faire l'objet d'un contrôle sont situés sur l'unité foncière cadastrée
                            {{ plot.parcel }} {% if plot.place %}lieudit {{ plot.place }}{% endif %} à
                            l'adresse {{ plot.address }} sur le territoire de la commune
                            de {{ plot.town.name }} {{ plot.town.zipcode }}.
                        {% endif %}
                    </p>
                </div>

                {#Si ce n'est pas un obstacle affichage des constatation#}
                {% if  folder.ascertainment and folder.nature is not constant('NATURE_OBSTACLE', folder) %}
                    <div class="clearfix">
                        <p> Les travaux relevés consistent à : </p>
                        {% if 'print' in app.request.pathinfo %}
                            {{ folder.ascertainment|localPath|raw }}
                        {% else %}
                            {{ folder.ascertainment|raw }}
                        {% endif %}
                        <br>
                    </div>
                {% endif %}

                {#Si des éléménets de contaxte ont été ajouté, on les affiche#}
                {% if courier.context %}
                    <div class="clearfix">
                        {% if 'print' in app.request.pathinfo %}
                            {{ courier.context|localPath|raw }}
                        {% else %}
                            {{ courier.context|raw }}
                        {% endif %}
                        <br>
                    </div>
                {% endif %}

                <div class="clearfix">
                    <p>
                        L' infraction étant constituée, je vous saurais gré de bien vouloir engager des poursuites
                        pénales à
                        l’encontre de
                        {#Affichage des données de la / des personnes#}
                        {{ humanMacro.humansByCourierViewText(humansList) }}.
                    </p>
                </div>

                {#Si l'auteur du courrier souhaite se porter partie civil affichage du texte#}
                {% if courier.civilParty %}
                    <div class="clearfix">
                        <p>
                            Je vous informe que je souhaite par la présente, me constituer partie civile dans l’affaire
                            sus-référencée afin d’obtenir réparation du préjudice conformément aux articles 420-1 du
                            code de
                            procédure pénale et L480-1, al. 6 du code de l’urbanisme. Je sollicite la somme
                            de {{ courier.amount|price }} en réparation du préjudice subi ainsi que la remise
                            en état du terrain par la démolition des ouvrages construits et installés illégalement.
                        </p>
                    </div>
                {% endif %}

                <div class="clearfix">
                    <p>
                        Je reste à votre disposition pour toute information complémentaire.
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}