{% extends "@LuccaThemeStreamDashboardUiKit/SubLayout/edit.html.twig" %}
{% trans_default_domain 'LuccaModelBundle' %}

{% set entity_trans='entity.page'|trans %}


{% block menuActive_model %}class="active"{% endblock menuActive_model %}


{% block lucca_panels %}

    {% form_theme edit_form.marginTop '@LuccaModel/Margin/Embed/margins-theme.html.twig' %}
    {% form_theme edit_form.marginBottom '@LuccaModel/Margin/Embed/margins-theme.html.twig' %}
    {% form_theme edit_form.marginLeft '@LuccaModel/Margin/Embed/margins-theme.html.twig' %}
    {% form_theme edit_form.marginRight '@LuccaModel/Margin/Embed/margins-theme.html.twig' %}

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    <div class="row">
        {#-- Panel - main --#}
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
            <div class="card card-default">
                <div class="card-header">
                    {{ 'title.edit'|trans({}, 'LuccaThemeStreamDashboardUiKit') }} - <b>{{ entity_trans }}</b>
                </div>

                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="col-12">
                            {{ form_row(edit_form.marginUnit) }}
                            {{ form_row(edit_form.cssInline) }}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn-secondary btn-lg" href="{{ path('lucca_model_show', { 'id': model.id }) }}"
                   title="{{ 'link.backlist'|trans }}"><i class="fa fa-reply"></i></a>

                <button type="submit" class="btn btn-success btn-lg"
                        title="{{ 'link.page.edit'|trans }}"><i class="fa fa-check"></i></button>
            </div>
        </div>
        {#-- End Panel - main --#}

        {#-- Panel - Margin --#}
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
            <div class="card card-default">
                <div class="card-header">
                    {{ 'title.edit'|trans({}, 'LuccaThemeStreamDashboardUiKit') }} - <b>{{ 'entity.margin'|transchoice(2) }}</b>
                </div>

                <span class="jumbotron-warning m-2 p-2">
                    <span class="text-help">
                        {{ 'help.margin.simple'|trans|raw }}<br>
                    {{ 'help.margin.custom'|trans|raw }}</span>
                </span>

                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="col-12">

                            <div class="row mb-2" id="page-headerSize"
                                 {% if page.marginTop is not null %}style="display: none;"{% endif %}>
                                <div class="col-md-2">{{ 'label.headerSize'|trans }}</div>
                                <div class="col-md-5">
                                    {{ form_widget(edit_form.headerSize) }}
                                </div>
                                <button class="btn btn-primary pull-right" type="button" id="createMarginTopButton"><i
                                        class="fa fa-plus"></i> {{ 'link.margin.add.marginTop'|trans }}</button>
                            </div>
                            <div id="marginTop" {% if page.marginTop is null %}style="display: none;"{% endif %}>
                                <div class="row mb-2" id="page-marginTop">
                                    <div class="col-md-2">{{ 'label.marginTop'|trans }}</div>
                                    <div class="col-md-10">{{ form_widget(edit_form.marginTop) }}</div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" type="button" id="headerSizeButton"><i
                                                class="fa fa-reply"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row mb-2" id="page-footerSize"
                                 {% if page.marginBottom is not null %}style="display: none;"{% endif %}>
                                <div class="col-md-2">{{ 'label.footerSize'|trans }}</div>
                                <div class="col-md-5">{{ form_widget(edit_form.footerSize) }}</div>
                                <button class="btn btn-primary pull-right" type="button" id="createMarginBottomButton">
                                    <i
                                        class="fa fa-plus"></i> {{ 'link.margin.add.marginBottom'|trans }}</button>
                            </div>
                            <div id="marginBottom" {% if page.marginBottom is null %}style="display: none;"{% endif %}>
                                <div class="row mb-2" id="page-marginBottom">
                                    <div class="col-md-2">{{ 'label.marginBottom'|trans }}</div>
                                    <div class="col-md-10">{{ form_widget(edit_form.marginBottom) }}</div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" type="button" id="footerSizeButton"><i
                                                class="fa fa-reply"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row mb-2" id="page-leftSize"
                                 {% if page.marginLeft is not null %}style="display: none;"{% endif %}>
                                <div class="col-md-2">{{ 'label.leftSize'|trans }}</div>
                                <div class="col-md-5">{{ form_widget(edit_form.leftSize) }}</div>
                                <button class="btn btn-primary pull-right" type="button" id="createMarginLeftButton"><i
                                        class="fa fa-plus"></i> {{ 'link.margin.add.marginLeft'|trans }}</button>
                            </div>
                            <div id="marginLeft" {% if page.marginLeft is null %}style="display: none;"{% endif %}>
                                <div class="row mb-2" id="page-marginLeft">
                                    <div class="col-md-2">{{ 'label.marginLeft'|trans }}</div>
                                    <div class="col-md-10">{{ form_widget(edit_form.marginLeft) }}</div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" type="button" id="leftSizeButton"><i
                                                class="fa fa-reply"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row mb-2" id="page-rightSize"
                                 {% if page.marginRight is not null %}style="display: none;"{% endif %}>
                                <div class="col-md-2">{{ 'label.rightSize'|trans }}</div>
                                <div class="col-md-5">{{ form_widget(edit_form.rightSize) }}</div>
                                <button class="btn btn-primary pull-right" type="button" id="createMarginRightButton">
                                    <i class="fa fa-plus"></i> {{ 'link.margin.add.marginRight'|trans }}</button>
                            </div>
                            <div id="marginRight" {% if page.marginRight is null %}style="display: none;"{% endif %}>
                                <div class="row mb-2" id="page-marginRight">
                                    <div class="col-md-2">{{ 'label.marginRight'|trans }}</div>
                                    <div class="col-md-10">{{ form_widget(edit_form.marginRight) }}</div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" type="button" id="rightSizeButton"><i
                                                class="fa fa-reply"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        {#-- End Panel - Margin --#}
    </div>

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}
{% endblock lucca_panels %}

{% block lucca_css %}
    {{ parent() }}
    {% include "@LuccaThemeStreamDashboardUiKit/Plugins/colorpicker.css.html.twig" %}
{% endblock lucca_css %}


{% block lucca_js %}
    {{ parent() }}

    {% include "@LuccaThemeStreamDashboardUiKit/Plugins/colorpicker.js.html.twig" %}
    <script src="{{ asset('plugins/symfony-collection/jquery.collection.js') }}"></script>

    <script>
        {#Custom JS#}

        // Margin TOP
        $('#createMarginTopButton').click(function () {
            $('#page_headerSize').val('');
            $("#page-headerSize").slideUp();
            $("#marginTop").slideDown();
        });
        $('#headerSizeButton').click(function () {
            $('#page_marginTop_height').val('');
            $('#page_marginTop_width').val('');
            $('#page_marginTop_background').val('');
            $("#page-headerSize").slideDown();
            $("#marginTop").slideUp();
        });

        // Margin BOTTOM
        $('#createMarginBottomButton').click(function () {
            $('#page_footerSize').val('');
            $("#page-footerSize").slideUp();
            $("#marginBottom").slideDown();
        });
        $('#footerSizeButton').click(function () {
            $('#page_marginBottom_height').val('');
            $('#page_marginBottom_width').val('');
            $('#page_marginBottom_background').val('');
            $("#page-footerSize").slideDown();
            $("#marginBottom").slideUp();
        });

        // Margin LEFT
        $('#createMarginLeftButton').click(function () {
            $('#page_leftSize').val('');
            $("#page-leftSize").slideUp();
            $("#marginLeft").slideDown();
        });
        $('#leftSizeButton').click(function () {
            $('#page_marginLeft_height').val('');
            $('#page_marginLeft_width').val('');
            $('#page_marginLeft_background').val('');
            $("#page-leftSize").slideDown();
            $("#marginLeft").slideUp();
        });

        // Margin RIGHT
        $('#createMarginRightButton').click(function () {
            $('#page_rightSize').val('');
            $("#page-rightSize").slideUp();
            $("#marginRight").slideDown();
        });
        $('#rightSizeButton').click(function () {
            $('#page_marginRight_height').val('');
            $('#page_marginRight_width').val('');
            $('#page_marginRight_background').val('');
            $("#page-rightSize").slideDown();
            $("#marginRight").slideUp();
        });
    </script>

{% endblock lucca_js %}
