{% extends "@LuccaThemeStreamDashboardUiKit/SubLayout/new.html.twig" %}
{% trans_default_domain 'LuccaContentBundle' %}

{% set param_entity='entity.subarea'|transchoice(1) %}
{% set param_entities='entity.subarea'|transchoice(2) %}

{% block menuActive_subarea %}class="active"{% endblock menuActive_subarea %}


{% block lucca_panels %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {#-- Panel - main --#}
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
        <div class="card card-default">
            <div class="card-header">
                {{ 'title.new'|trans({}, 'LuccaThemeStreamDashboardUiKit') }} - <b>{{ param_entity }}</b>
            </div>

            <div class="card-wrapper">
                <div class="card-body">
                    <div class="col-12">
                        {{ form_row(form.name) }}
                        {{ form_row(form.enabled) }}
                        {{ form_row(form.position) }}
                        {{ form_row(form.width) }}
                        {{ form_row(form.color, { 'id': 'demo_selectors' }) }}
                        {{ form_row(form.title) }}
                        {{ form_row(form.area) }}

                        <a class="btn btn-secondary btn-lg" href="{{ path('lucca_subarea_index') }}"
                           title="{{ 'link.back'|trans }}"><i class="fa fa-reply"></i></a>

                        <button type="submit" class="btn btn-success btn-lg"
                                title="{{ 'link.new'|trans }}"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#-- End Panel - main --#}

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock lucca_panels %}

{% block lucca_css %}
    {{ parent() }}

    <link href="{{ asset('plugins/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css') }}"
          rel="stylesheet">
{% endblock lucca_css %}


{% block lucca_js %}
    {{ parent() }}

    <script src="{{ asset('plugins/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js') }}"></script>
{% endblock lucca_js %}