{% extends "@LuccaThemeStreamDashboardUiKit/SubLayout/edit.html.twig" %}
{% trans_default_domain 'LuccaModelBundle' %}

{% set entity_trans_key='entity.model' %}


{% block menuActive_model %}class="active"{% endblock menuActive_model %}


{% block lucca_panels %}

    <div class="row">

        {% embed "@LuccaModel/Model/Embed/_form-model.html.twig" with { 'form': edit_form } %}
            {% trans_default_domain 'LuccaModelBundle' %}

            {% block lucca_embed_buttons_model %}
                <a class="btn btn-secondary btn-lg" href="{{ path('lucca_model_show', { 'id': model.id }) }}"
                   title="{{ 'link.backlist'|trans }}"><i class="fa fa-reply"></i></a>

                <button type="submit" class="btn btn-success btn-lg"
                        title="{{ 'link.model.edit'|trans }}"><i class="fa fa-check"></i></button>
            {% endblock %}
        {% endembed %}

    </div>

    {% if verso is not null and model.layout is same as constant('LAYOUT_COVER', model) %}
        <div class="row">
            {#-- Panel - Page --#}
            {#-- Embed view - params and block --#}
            {% embed "@LuccaModel/Page/Embed/page.html.twig" with {'page': verso} %}
                {#-- Translation domain embed --#}
                {% trans_default_domain 'LuccaModelBundle' %}

                {% block lucca_embed_buttons_page %}
                    <a class="btn btn-warning btn-xs"
                       href="{{ path('lucca_model_page_edit', { 'id': verso.id, 'mod_id': model.id }) }}"
                       title="{{ 'link.page.edit'|trans }}"><i
                            class="fas fa-pencil-alt"></i> {{ 'link.page.edit'|trans }}</a>
                {% endblock %}

            {% endembed %} {#-- End Embed --#}
            {#-- End Panel - Page --#}
        </div>
    {% endif %}

    <div class="row">
        {#-- Panel - Page --#}
        {#-- Embed view - params and block --#}
        {% embed "@LuccaModel/Page/Embed/page.html.twig" with {'page': recto} %}
            {#-- Translation domain embed --#}
            {% trans_default_domain 'LuccaModelBundle' %}

            {% block lucca_embed_buttons_page %}
                <a class="btn btn-warning btn-xs"
                   href="{{ path('lucca_model_page_edit', { 'id': recto.id, 'mod_id': model.id }) }}"
                   title="{{ 'link.page.edit'|trans }}"><i class="fas fa-pencil-alt"></i> {{ 'link.page.edit'|trans }}
                </a>
            {% endblock %}

        {% endembed %} {#-- End Embed --#}
        {#-- End Panel - Page --#}
    </div>

{% endblock lucca_panels %}

{% block lucca_css %}
    {{ parent() }}
    {% include "@LuccaThemeStreamDashboardUiKit/Plugins/colorpicker.css.html.twig" %}
{% endblock lucca_css %}


{% block lucca_js %}
    {{ parent() }}

    {% include "@LuccaThemeStreamDashboardUiKit/Plugins/colorpicker.js.html.twig" %}

    <script>{% include('@LuccaModel/Model/Js/form-model.js.twig') %}</script>

{% endblock lucca_js %}
