{% extends '@LuccaThemeStreamDashboardUiKit/SubLayout/edit.html.twig' %}
{% trans_default_domain 'LuccaUserBundle' %}

{% set entity_trans='entity.group'|trans %}


{% block menuActive_group %}active{% endblock menuActive_group %}


{% block lucca_panels %}

    {#-- Panel - main --#}
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">

        <div class="card card-default">
            <div class="card-header">
                {{ 'title.edit'|trans({}, 'LuccaThemeStreamDashboardUiKit') }} - <b>{{ group.name }}</b>
            </div>

            <div class="card-wrapper">
                <div class="card-body">
                    <div class="col-12">
                        {{ form_start(edit_form, { 'action': path('lucca_user_group_edit', {'id': group.id}), 'attr': { 'class': 'lucca_user_group_edit' } }) }}
                        {{ form_widget(edit_form) }}

                        <a class="btn btn-secondary btn-lg" href="{{ path('lucca_user_group_index') }}"
                           title="{{ 'link.back'|trans }}"><i class="fa fa-reply"></i></a>

                        <button type="submit" class="btn btn-success btn-lg"
                                title="{{ 'link.new'|trans }}"><i class="fa fa-check"></i></button>

                        {{ form_rest(edit_form) }}
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#-- End Panel - main --#}

{% endblock lucca_panels %}

