{% extends "@LuccaThemeStreamDashboardUiKit/SubLayout/new.html.twig" %}
{% trans_default_domain 'LuccaUserBundle' %}

{% set entity_trans_key='entity.group' %}
{% block menuActive_group %}class="active"{% endblock menuActive_group %}


{% block lucca_panels %}

    {#-- Panel - main --#}
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">

        <div class="card card-default">
            <div class="card-header">
                {{ 'title.new'|trans({}, 'LuccaThemeStreamDashboardUiKit') }} - <b>{{ entity_trans_key|trans }}</b>
            </div>

            <div class="card-wrapper">
                <div class="card-body">
                    <div class="col-12">
                        {{ form_start(form, { 'action': path('lucca_user_group_new'), 'attr': { 'class': 'lucca_user_group_new' } }) }}

                        {{ form_widget(form) }}

                        <a class="btn btn-secondary btn-lg" href="{{ path('lucca_user_group_list') }}"
                           title="{{ 'link.back'|trans }}"><i class="fa fa-reply"></i></a>

                        <button type="submit" class="btn btn-success btn-lg"
                                title="{{ 'link.new'|trans }}"><i class="fa fa-check"></i></button>

                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#-- End Panel - main --#}

{% endblock lucca_panels %}

